/* .App {
  height:95%;
  width:100%;
  float:left;
  overflow:auto
} */

ul {
  list-style: none;
  padding-left: 10px;
}

.list{
  height:95%;
  width:15%;
  float:left;
  overflow:auto
}
.content{
  padding-top: 20px;
  float:left; 
  height: 95%; 
  width: 80%;
  overflow:auto
}